# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*CatFlips 🐾 
*.njsproj
*.sln
*.sw?

# npm version patch    # changes 0.0.4 → 0.0.5
# or
# npm version minor    # changes 0.0.4 → 0.1.0
# or
# npm version major    # changes 0.0.4 → 1.0.0
# npm unpublish septor-store@0.0.4
